<?xml version="1.0"?>
<launch>
    <arg name="pkg_threemxl_config" default="$(find zuros_threemxl_controller)"/>

    <node pkg="zuros_threemxl_controller" type="threemxl_controller" name="threemxl_controller_node" output="screen">
        <param name="config_file_location" value="$(arg pkg_threemxl_config)/config/config.xml" />
    </node>
</launch>
