<?xml version="1.0"?>
<launch>

	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pkg_robot_config" default="$(find zuros_year1)"/>	
	<arg name="pkg_environment_config" default="$(find zuros_year1)"/>

	<!-- start command_gui -->
	<node ns="command_gui" pkg="zuros_command_gui" type="command_gui.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
		<!-- upload button parameters, but delete the old ones before -->
		<rosparam command="load" ns="nav_buttons" file="$(arg pkg_environment_config)/$(arg robot_env)/command_gui_buttons.yaml"/>
		<rosparam command="load" ns="nav_positions" file="$(arg pkg_environment_config)/$(arg robot_env)/navigation_goals.yaml"/>
	</node>
</launch>
