<?xml version="1.0"?>
<launch>
	<!-- Run a static transform between /base_link and /laser_scan -->
	<!-- xtion is mounted 27,45 cm from the center of the base on the x-axis, -3.5cm on the y-axis and -7.5cm on the z-axis -->
	<!-- note: the laser scanner is not mounted at 0cm on the z-axis. 0cm is needed because the costmap cannot handle negative numbers-->
	<!-- TODO: find out a way to provide a negative z-axis number to the costmap -->

	<!-- Format: x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_scan" args="0.2745 -0.035 0 0 0 0 /base_link /camera_link 10"/>

	<!-- launch openni -->
	<include file="$(find openni2_launch)/launch/openni2.launch" />

  <param name="min_range" value="0.8" />
  <param name="max_range" value="3.5" />
  <param name="h_degrees" value="58.0" />

  <node pkg="zuros_depth" type="depth" name="depth_node" output="screen"/>
</launch>
