<configuration>
   <left>
     <ID>106</ID>
     <mxlmode comment="SPEED_MODE">1</mxlmode>
     <gearboxratiomotor>46.7</gearboxratiomotor>
     <acceleration>2.826</acceleration>
     <pspeed>0.5</pspeed>
     <ispeed>0.0</ispeed>
     <dspeed>0.2</dspeed>
     <ilspeed>0.0</ilspeed>
   </left>
   <right>
     <ID>107</ID>
     <mxlmode comment="SPEED_MODE">1</mxlmode>
     <gearboxratiomotor>46.7</gearboxratiomotor>
     <acceleration>2.826</acceleration>
     <pspeed>0.5</pspeed>
     <ispeed>0.0</ispeed>
     <dspeed>0.2</dspeed>
     <ilspeed>0.0</ilspeed>
   </right>
</configuration>
