<launch>
	<!-- launch joystick -->
	<node name="zuros_joystick_node" pkg="joy" type="joy_node" output="screen"/>

	<!-- launch movement -->
	<node pkg="zuros_movement" type="movement" name="movement_node" output="screen"/>

	<!-- launch threemxl controller -->
	<!-- <node pkg="zuros_threemxlController" type="threemxlController" name="threemxlController_node" output="screen"/> -->

	<!-- launch openni -->
	<include file="$(find openni2_launch)/launch/openni2.launch" />
</launch>
