<?xml version="1.0"?>
<launch>
<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_scan" args="0.2745 -0.035 0 0 0 135.1 /base_link /camera_link 100"/>

  <include file="$(find openni2_launch)/launch/openni2.launch" />

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image" to="/camera/depth/image_raw"/>
  </node>

	<!-- launch emergency stop -->
	<node name="zuros_emergency_stop_node" pkg="zuros_emergency_stop" type="emergency_stop.py" output="screen"/>

	<!-- launch joystick -->
  <include file="$(find zuros_ROS_joy)/launch/joy.launch" />

	<!-- launch laptop battery monitor -->
	<node name="zuros_laptop_battery_node" pkg="zuros_laptop" type="zuros_laptop.py" output="screen"/>

	<!-- launch movement -->
  <include file="$(find zuros_movement)/launch/movement.launch" />

  <!-- launch motor transformation -->
  <include file="$(find zuros_motor_transformation)/launch/motor_transformation_differential.launch" />

  <!-- launch threemxl controller -->
  <include file="$(find zuros_threemxl_controller)/launch/threemxl_controller.launch" />
</launch>
